
}

#todocontainer {


    /* LISTSTYLE EDIT Changed to column */
    flex-direction: column; 

}

.todo {
 

    /* LISTSTYLE EDIT Changed to row */
    flex-direction: row;

    /* LISTSTYLE EDIT Removed flex-basis */
    flex-basis: ;

    /* LISTSTYLE EDIT Added alignment */
    align-items: center;



}


/* LISTSTYLE EDIT Remove most styling on title, add bold, add width */
.todotitle {
    font-size: inherit;
    font-weight: bold;
    width: 180px;
}


/* LISTSTYLE EDIT Remove font size */
.edittitle textarea {
    width: 180px;
    /* font-size: 30px; */
    resize: none;
}

